@font-face {
    font-family: tf2build;
    src: url("font/tf2build.ttf");
}

@font-face {
    font-family: tf2secondary;
    src: url(font/TF2secondary.ttf);
}

.title {
    font-family:  "Lato Heavy"; /*tf2build*/
    margin: 0 0 0 45%;
    background: linear-gradient(#00d08d, #009a68); /*second number was 753e02 but this was too dark*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.title-logo {
    margin-left: 40%;
    width: 35%;
    height: auto;
}


.container {
    display: flex;
    width: 100%;
    background-color: #2f2f2f;
}

body {
    background-color: #2f2f2f;
    margin: 0;
}

.body {
    margin: 30px 30px 0 30px;
    min-width: 50ch;
}

.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
    font-family: "Lato Heavy"; /*tf2secondary*/
    color: white;
    text-align: left;
    /*text-decoration: underline;*/
}

.container p, ul {
    font-family: lato; /*tf2secondary*/
    color: white;
    font-size: 16px; /*20px*/
    margin-block: 25px;
}

.container p a, a {
    color: #2bccbc;
    font-size: 16px; /*20px*/
    margin-block: 25px;
    text-decoration: underline;
}

.container p a:hover, a:hover {
    color: #40e0d0;
    text-decoration: underline;
}

#matrix-logo {
    margin-left: 1%;
    margin-top: 1%;
    display: inline-block;
    width: auto;
}

#gameplay1-div {
    margin: 30px;
}

header {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #202020;
    border-color: #024731;
    display: flex;
}

header nav {
    list-style: none;
    text-align: center;
    margin-left: 25%;
}

header nav a {
    color: #ffffff;
    font-family: "Lato Heavy"; /*tf2build*/
    font-size: 18px;
    display: inline-block;
    margin: 20px 0 10px 10px;
    border: 3px solid #024731;
    padding: 8px;
    border-radius: 15px;
    background-color: #008e60;
    width: auto;
    text-decoration: none;
}

header nav a:hover {
    border-radius: 15px;
    background-color: #00af76; /*00c283 is too bright? - felix 2022/01/15*/
    color: #ffffff;
    text-decoration: underline;
}

.navbarselectedbutton {
    color: #ffffff;
    font-family: "Lato Heavy"; /*tf2build*/
    font-size: 18px;
    display: inline-block;
    margin: 20px 0 10px 10px;
    border: 3px solid #024731;
    padding: 8px;
    border-radius: 15px;
    background-color: #00573b; /*083a2a too dark - felix 2022/01/15*/
    width: auto;
}

.inline-title-img {
    width: 8%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
    border: 2px solid #009a68;
    background: linear-gradient(#222222, #161616); /*background-color: #00cd8c*/
}

.inline-title-div {
    margin-top: 2em;
}

.inline-title-div a {
    text-decoration: none;
    color: #00cd8c;
    font-family: sans-serif;
}

.inline-title-div a:hover {
    color: #00ea9c;
}

footer {
    background: linear-gradient(#293a33, #199b6f);
    margin-top: 1em;
    border-top: 3px solid #202020;
}

footer h, footer p {
    color: white;
}

.mainbodybutton {
    color: #252525;
    font-family: "Lato Heavy"; /*tf2build*/
    display: inline-block;
    margin: 0 0 5px 5px;
    border: 3px solid #655c49;
    padding: 4px;
    border-radius: 10px;
    background-color: #b5aa91;
    width: 15em;
    text-decoration: none;
    text-align: center;
}

.mainbodybutton a {
    color: #252525;
    font-size: 24px;
    text-decoration: none;
}

.mainbodybutton:hover {
    color: #252525;
    background-color: #eadcbb;
    text-decoration: underline;
}

.mediagallery {
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #484848;
    min-width: 100%;
}

.mediagalleryimagecollection {
    text-align: center;
}

.mediagalleryimage {
    margin: 0.5em;
}

.mainpagescreenshots {
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #484848;
    margin-right: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 1em;
}

.noticebox {
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #484848;
    padding: 0.5em;
    width: max-content;
}

.noticeboxwarning {
    border: 2px solid #ff8820;
    border-radius: 10px;
    background-color: #363636;
    padding: 0.5em;
    width: max-content;
}

.dividingline {
    border-right: 2px solid #ffffff;
}
